# compiled output
/app/dist
/app/node_modules
/app/build

# Logs
/app/logs
/app/*.log
/app/npm-debug.log*
/app/pnpm-debug.log*
/app/yarn-debug.log*
/app/yarn-error.log*
/app/lerna-debug.log*

# OS
/app/.DS_Store

# Tests
/app/coverage
/app/.nyc_output

# IDEs and editors
/app/.idea
/app/.project
/app/.classpath
/app/.c9/
/app/*.launch
/app/.settings/
/app/*.sublime-workspace

# IDE - VSCode
/app/.vscode/*
/app/!.vscode/settings.json
/app/!.vscode/tasks.json
/app/!.vscode/launch.json
/app/!.vscode/extensions.json

# dotenv environment variable files
/app/.env
/app/.env.development.local
/app/.env.test.local
/app/.env.production.local
/app/.env.local

# temp directory
/app/.temp
/app/.tmp

# Runtime data
/app/pids
/app/*.pid
/app/*.seed
/app/*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
/app/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
