<p>Olá, #{name}</p>

<p>Por favor, use o código abaixo para recuperar a sua conta e redefinir a senha:</p>

<p>#{token}</p>

<p>Se você não solicitou este e-mail, por favor ignore-o</p>

<p>ERP Faex Corporation</p>